.application-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--Light);
}

.applications-container {
  padding-block: 50px;
  width: 80%;
  height: 100%;
  text-align: center;
}

.application-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.application-table th,
.application-table td {
  border: 1px solid var(--Light);
  padding: 8px;
  text-align: center;
}

.application-table th {
  background-color: var(--Strong-Light);
  color: var(--Dark);
}
