.application-container {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Light);
    border-radius: 5px;
    gap: 10px;
    width: 500px;
}

.applicant-info  {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}

.application-show-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.application-show-button > button {
    border: 0px;
    border-radius: 5px;
    padding: 12px 8px;
    font-family: inherit;
    cursor: pointer;

}

.table-buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.table-buttons > button {
    width: 100%;
    max-width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    outline: none;
    color: var(--Light);
    font-weight: 600;
    cursor: pointer;
}

.showBtn {
    background-color: green;
}

.showBtn:hover {
    background-color: rgb(1, 83, 1);
}

.deleteBtn {
    background-color: red;
}

.deleteBtn:hover {
    background-color: rgb(165, 0, 0);
}