.form-container {
  border: 1px solid var(--Darker-Light);
  border-radius: 5px;
  width: 700px;
  height: 800px;
  overflow: hidden;
}

.form-container > form {
  padding: 50px 10px 0px 10px;
  background-color: var(--Strong-Dark);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  color: var(--Light);
  flex-direction: column;
  align-items: center;
}

.form-names,
.form-numbers {
  width: 90%;
  height: calc(100% / 6);
  display: flex;
  justify-content: space-between;
}

.form-reason,
.form-address,
.form-attachment,
.form-button {
  width: 90%;
  height: calc(100% / 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.form-fname,
.form-lname,
.form-age,
.form-tc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-names input,
.form-numbers input {
  padding: 12px;
  border: 1px solid var(--Darker-Light);
  background-color: var(--Dark);
  border-radius: 5px;
  color: var(--Light);
  height: 55px;
  width: 250px;
  font-family: inherit;
  font-size: 1.1rem;
}

.form-names input:active,
.form-numbers input:active {
  background-color: var(--Dark);
}

.form-fname label,
.form-lname label,
.form-age label,
.form-tc label {
  font-size: 1rem;
}

.form-reason > textarea,
.form-address > textarea {
  height: 100%;
  padding: 12px;
  resize: none;
  border-radius: 5px;
  border: 1px solid var(--Darker-Light);
  background-color: var(--Dark);
  font-size: 1rem;
  font-family: inherit;
  color: var(--Light);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.attachment-input {
  position: relative;
  width: 100%;
  height: 60%;
  border: 1px dashed var(--Darker-Light);
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.attachment-input > input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button > button {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  outline: none;
  background-color: red;
  color: var(--Light);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

}

.form-button > button:hover {
  background-color: rgb(165, 0, 0);
}


